* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

:root {
  --color-light: #ffff;
  --color-accent: #e76f51;
  --color-hover: #B43718;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: var(--color-accent);
  font-weight: 600;
  transition: 0.5s;
}

img {
  max-width: 100%;
}

.menu-item {
  padding: 16px 3.5rem;
  margin: auto;
}

.menu li {
  background-color: transparent;
  display: inline;
  justify-items: flex-end;
  margin: 16px;
}

.menu a {
  color: var(--color-accent);
}

.btn {
  background-color: #e76f51;
  padding: 8px 3.5rem;
  border-radius: 5px;
  color: var(--color-light);
  transition: 0.5s;
}

.hero {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(3, 4, 30, 0.3), rgba(3, 4, 30, 0.9)),
    url(../images/pousada-cajueiro-hero.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.hero-content{
  font: 400;
  width: 60%;
  padding: 5rem;
  color: var(--color-light);
}

.hero-content h1 {
  font-size: 3em;
}

.hero-content p {
  font-weight: 400;
  margin-bottom: 2rem;
  line-height: 3.6rem;
}

.quarto-title {
  display: flex;
  font-size: 5vmin;
  text-align: center;
  margin: 4rem 0 2rem;
  color: var(--color-accent);
}
.main {
  display: flex;
  flex-direction: column;
}

.main h2{
  justify-content: center;
  color: var(--color-accent);
  font-family: "DM Serif Display", serif;
  font-weight: 800;
  font-style: bold;;
  width: 100%;
  font-weight: 700;
  font-size: 32px;
  margin:0.5
}

.quarto-list{
  display: grid;
  width:100%;

}



.quarto-list {
  
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.quarto-item img {
width: 300px;
}

.quarto-item {
  
  margin: 3rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 2rem;
  box-shadow: 1px 1px 30px #ccc;
  border-radius: 5px;
  transition: 0.5s;
}



.btn:hover {
  background-color: var(--color-hover);
}

